<ol>
  <% @post.comments.each do |comment| %>
    <% if comment.parent_comment_id == parent_id %>
      <li><a href="<%= comment_url(comment) %>"> (<%= comment.vote_count %>) <%= comment.content %></a> by <strong><%= comment.author.username %></strong></li>
      <%= render 'comment', parent_id: comment.id %>
    <% end %>
  <% end %>
</ol>
